<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <app-navbar></app-navbar>

    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1 ml-2"
                  >
                    Valor Líquido Total
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">
                    {{ response.summary.totalNetAmount | currency: "BRL" }}
                  </div>
                </div>
                <div class="col-auto mr-3">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-success text-uppercase mb-1 ml-2"
                  >
                    Valor Total
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">
                    {{ response.summary.totalAmount | currency: "BRL" }}
                  </div>
                </div>
                <div class="col-auto mr-3">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-info text-uppercase mb-1 ml-2"
                  >
                    Valor Médio Total
                  </div>
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 ml-2">
                    {{ response.summary.totalAverageAmount | currency: "BRL" }}
                  </div>
                </div>
                <div class="col-auto mr-3">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-dark text-uppercase mb-1 ml-2"
                  >
                    Quantidade Total de Registros
                  </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800 ml-2">
                    {{ response.summary.totalQuantity }}
                  </div>
                </div>
                <div class="col-auto mr-3">
                  <i class="fas fa-bars fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h5 class="m-0 font-weight-bold text-primary">Resultados</h5>
          <small
            >Período: {{ response.summary.initialDate | date: "dd/MM/yyyy" }} -
            {{ response.summary.finalDate | date: "dd/MM/yyyy" }}</small
          >
        </div>
        <div class="row mt-4 ml-1">
          <div class="col">
            <button
              [id]="'btn-exportar-excel'"
              type="button"
              class="btn btn-success"
              (click)="exportexcel()"
            >
              Exportar Excel
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered table-hover table-sm"
              [id]="'table-lancamento-contas-legado'"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th scope="col" (click)="sort('id')">
                    Id &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('merchantId')">
                    Id Estabelecimento &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('paymentNode')">
                    Id Pagamento &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('cnpjRoot')">
                    CNPJ &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('date')" width="350">
                    Data &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('paymentType')">
                    Tipo Pagamento &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('cardBrand')">
                    Bandeira &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('authorizationCode')">
                    Cód. Autorização &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th
                    scope="col"
                    (click)="sort('truncatedCardNumber')"
                    width="250"
                  >
                    4 últ. díg. cartão &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('grossAmount')">
                    Valor Bruto &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('netAmount')">
                    Valor Líquido &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('terminal')">
                    Terminal &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('administrationFee')">
                    Taxa de Administração &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('channelCode')">
                    Cód. Canal &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('channel')">
                    Canal &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('withdrawAmount')">
                    Retirar Montante &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('minimumMDRAmmount')" width="150">
                    Qtd. mínima MDR &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('mdrTaxAmount')" width="150">
                    Val. Imposto MDR &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('mdrFeeAmount')" width="150">
                    Val. Taxa MDR &nbsp;<i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('status')">
                    Status &nbsp;<i class="fa fa-sort"></i>
                  </th>
                </tr>
              </thead>
              <tbody
                *ngFor="
                  let res of response.items
                    | orderBy: key:reverse
                    | paginate: { itemsPerPage: 50, currentPage: p }
                "
              >
              <tr>
                <td class="text-center">{{ res.id }}</td>
                <td class="text-center">{{ res.merchantId }}</td>
                <td class="text-center">{{ res.paymentNode }}</td>
                <td class="text-center">{{ res.cnpjRoot }}</td>
                <td class="text-center">
                  {{ res.date | date: "dd/MM/yyyy HH:mm:ss" }}
                </td>
                <td class="text-center">{{ res.paymentType }}</td>
                <td class="text-center">{{ res.cardBrand }}</td>
                <td class="text-center">{{ res.authorizationCode }}</td>
                <td class="text-center">{{ res.truncatedCardNumber }}</td>
                <td class="text-center">
                  {{ res.grossAmount | currency: "BRL" }}
                </td>
                <td class="text-center">
                  {{ res.netAmount | currency: "BRL" }}
                </td>
                <td class="text-center">{{ res.terminal }}</td>
                <td class="text-center">
                  {{ res.administrationFee | currency: "BRL" }}
                </td>
                <td class="text-center">{{ res.channelCode }}</td>
                <td class="text-center">{{ res.channel }}</td>
                <td class="text-center">
                  {{ res.withdrawAmount | currency: "BRL" }}
                </td>
                <td class="text-center">
                  {{ res.minimumMDRAmmount | currency: "BRL" }}
                </td>
                <td class="text-center">
                  {{ res.mdrTaxAmount | currency: "BRL" }}
                </td>
                <td class="text-center">
                  {{ res.mdrFeeAmount | currency: "BRL" }}
                </td>
                <td>
                  <span
                    class="text-white badge {{
                      res.status == 'Não Autorizada'
                        ? 'bg-danger'
                        : 'bg-success'
                    }}"
                    >{{ res.status }}</span
                  >
                </td>
              </tr>
            </tbody>
              <tfoot class="text-center">
                <tr>
                  <td colspan="20">
                    <pagination-controls
                      (pageChange)="p = $event"
                    ></pagination-controls>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
